<!DOCTYPE html>
<html lang="en">
    <%- include('/partials/head.ejs') %>
<body>
    <%- include('/partials/nav.ejs') %>

<div class="searcher">
    <label for="search">Search</label>
    <input type="search" placeholder="Søk...">
</div>


</body>
</html>